body{
    background: #E5E5E5;
}

.pmt-profile-btn{
    padding-left: 1em;
    padding-right: 1em;
    a{
        p{
            font-size: 0.9em;
        }
    }
    img{
        width: 2.3em;
        height: auto;
    }
}

.pmt-a-blue{
  cursor: pointer;
    font-size: 0.8em;
    color: #2D9CDB;
    text-decoration: underline;
    &:hover{
        color: #31a7eb;
        text-decoration: none;
    }
}


.pmt-p-grey{
    color: #939598;
    font-size: 0.8em;
}

.pmt-p-email{
    a{
        font-size: 0.8em;
        padding-left: 0.4em;
    }
}


.pmt-block-email{
    padding: 1em;
    
    min-width: 39%;
    background: #FFFFFF;
    border-radius: 8px;
}

.pmt-p-toggle-email{
    font-size: 0.7em;
}

.pmt-p-toggle-email{
    padding-left: 1em;
    margin: 0;
}

.pmt-p-descr{
    padding-left: 1em;
    margin: 0;
    font-size: 0.7em;
}


.pmt-block-tarife{
    padding: 1em;
    
    min-width: 59%;
    background: #FFFFFF;
    border-radius: 8px;
}



.pmt-balance{
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 1em;
}

#btn-addbalance{
  cursor: pointer;
}

.pmt-balance-history{
  cursor: pointer;
  font-size: 0.9em;
  img{
    padding-right: 0.5em;
  }

  span{
    text-decoration: underline;
  }

  &:hover{
    span{
      text-decoration: none;
    } 
  }
}
 

.pmt-tarife{
  margin: 0;
  font-size: 1em;
  font-weight: bold;

  span{
    color: #939598;
    font-weight: normal;
  }
}









/* toggler https://codepen.io/alireza82/pen/eYgxJba */
.toggle-wrapper-small {
    min-width: 40px;
    max-width: 40px;
    height: 20px;
    border-radius: calc(20px / 2);
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    //margin: 10px;
    border: 2px solid #CDCDCD;
    background-color: #CDCDCD;
    cursor: pointer;
  }
  
  .circle-small {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
  }
  

@keyframes on {
    from {
      left: 2px;
    }
    to {
      left: 48%;
    }
  }
  .on {
    animation-name: on;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes off {
    from {
      left: 48%;
    }
    to {
      left: 2px;
    }
  }
  .off {
    animation-name: off;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }



  @keyframes ton {
    from {
    }
    to {
        background-color: #20944E;
    }
  }
  .ton {
    animation-name: ton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes toff {
    from {
    }
    to {
        background-color: #CDCDCD;
    }
  }
  .toff {
    animation-name: toff;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }


  .pmt-row-query{
    padding: 1em;
    background: #FFFFFF;
    border-radius: 8px;
}


  .pmt-input-query, .pmt-input-day, .pmt-input-name{
    input{
      background: #E5E5E5;
      border-radius: 8px;
      border-left: 1px solid #ced4da;
      border-top: 1px solid #ced4da;
      border-bottom: 1px solid #ced4da;
      border-right: none;
    }
    span{
      background: #E5E5E5;
      border-radius: 8px;
    }
  }

  .pmt-input-day{
    span{
      padding: 0 0.2em 0 0;
    }
  }

  .pmt-play-green, .pmt-play-gray{
    margin: 0;
    font-size: 0.7em;
    color: #219653;
  }

  .pmt-play-gray{
    color: #939598;
  }

  .pmt-img-trash{
    width: 1.5em;
    cursor: pointer;
  }

  .pmt-day-updown, .pmt-addtarife{
    cursor: pointer;
  }

  #pmt-tarife{
    cursor: pointer;
    //text-decoration: underline;
    border-bottom: #000 1px dotted;
    color: #000;
    font-weight: bold;
  }

